#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body{
  overflow-x: hidden;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 0px 15px 0px;
}

.rowActive1{
  width: 30px;
  height: 5px;
  background-color: white;
  transform: rotate(45deg);
  position: relative;
  top: 9px;
}

.rowActive2{
  display: none
}

.rowActive3{
  width: 30px;
  height: 5px;
  background-color: white;
  transform: rotate(-45deg);
  position: relative;
  top: 4px;
}

.rowDesactive1 {
  width: 30px;
  height: 5px;
  background-color: white;
  margin-bottom: 5px
}

.rowDesactive2 {
  width: 30px;
  height: 5px;
  background-color: white;
  margin-top: 5px
}

.rowDesactive3 {
  width: 30px;
  height: 5px;
  background-color: white;
  margin-top: 5px
}

.MenuMobileOpen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 55px;
  width: 107vw;
  height: 30%;
  background-color: #201F24;
  color: white;
  left: -39px;
  transition: height 0.5s
}

.MenuMobileClose{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 55px;
  width: 100%;
  height: 0%;
  background-color: #201F24;
  color: white;
  transition: height 0.5s
}

.MenuMobileOpen nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MenuMobileOpen nav ul li{
  margin: 10px 0px;
}

.MenuMobileClose nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MenuMobileOpen nav ul li{
  list-style: none
}

.MenuMobileClose nav ul li{
  list-style: none
}

.smallInfo{
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 15px;
  min-height: 200px;
  background-image: url(../public/image-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

div main{
  margin: 0 auto 15px auto
}

h1{
  text-align: center;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.containerProjects{
  width: 75%;
}

.containerProject{
  display: flex;
  width: 75%;
}

.containerProject:nth-child(1){
  margin-bottom: 60px
}

.containerProject div{
  text-align: center;
}

.containerProject div p{
  text-align: left;
  margin: 0 10px 0 0;
}

img{
  margin: 0 10px 0 0;
  width: 330px;
}

.photoProjectMobile{
  display: none
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px
}

@media (min-width: 320px){
  img{
    width: 249px
  }
}

@media(min-width: 768px){
  div main {
    max-width: 850px;
    margin: 0 auto 15px auto
  }
  .MenuMobileOpen{
    display: none;
  }

  .MenuMobileClose{
    display: none;
  }

  .containerProject{
    margin-bottom: 20px
  }

  .photoProjectMobile {
    display: block;
    height: 100%
  }
}